*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#icone_menu {
    text-align: center;
    height: 25px;
    align-self: center;
    padding: 10px;
    cursor: pointer;
}

#menu{
    display: none;
}

#menu a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: black;
    padding: 8px;
    font-weight: bold;
}

#menu li{
    list-style: none;
}

.container_header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.container_header img{
    height: 60px;
}

.imagem_header{
    width: 20px;
}

@media screen and (min-width: 768px) {
    #menu{
        display: block;
    }
    #icone_menu{
        display: none;
    }

    .main_header{
        display: flex;
        justify-content: space-between;    
    }
    #menu ul{
        display: flex;
    }

    #menu a{
        padding: 20px 10px;
       height: 50px;
       display: flex;
       align-items: center;
    }
    #menu a:hover{
        background-color:rgb(85, 85, 255);
        color: white;
    }

}

.header_principal , .div_central{ 
    max-width: 1024px;
    margin: auto auto;
    
}

.header_contato{
    display: flex;

}
.div_central{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.div_contato{
    background-color:rgb(85, 85, 255);
    height: 50px;
}

 .div_contato img{
    width: 20px;
    padding: 10px;
}

.header_contato li{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
}

body{
    background-color: #f8f8f8;
}


.container_pesquisa{
    background-image: url('imagens/pesquisa.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh;
    display: flex;
}
.pesquisa_principal{
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.pesquisa_div{
    width: 70%;
    padding: 10px 0;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.678);
}

select {
    margin: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}
  
option {
    font-size: 16px;
}

  #button_buscar{
    margin-left: 15px;
    width: 120px;
    height: 45px;
    cursor: pointer;
    background-color:rgb(85, 85, 255);
    border-radius: 8px;
    color: white;
    font-size: 18px;
  }


  .lista_pesquisa{
    display: flex;
    gap: 10px;
  }

  .lista_pesquisa label{
        list-style: none;
        padding: 20px;
        color: white;
        background-color: rgb(85, 85, 255);
        border-radius: 10px 10px 0 0;
        margin-left: 10px;
        cursor: pointer;
  }


input[type="radio"] {
    display: none;
}

label {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border: 1px 1px 0 1px solid rgb(0, 0, 0);
}
input[type="radio"]:checked + label {
    background-color: white;
    color: black; 
}

.lista_destaques img{
    width: 100%;
}

.lista_destaques li {
    background-color: white;
    width: 30%;
    border: 1px solid black;
    border-radius: 8px;
}

.lista_destaques{
    display: flex;
    justify-content: space-between;
}

.div_principal{
    max-width: 1024px;
    margin: auto auto;
}

.inf_destaque{
    padding: 20px;
}