<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="academia" name="academia" {% if comodidades and
    comodidades['academia']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="academia">
    Academia
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="estacionamento" name="estacionamento" {% if
    comodidades and comodidades['estacionamento']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="estacionamento">
    Estacionamento
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="elevador" name="elevador" {% if comodidades and
    comodidades['elevador']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="elevador">
    Elevador
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="areaLazer" name="areaLazer" {% if comodidades and
    comodidades['areaLazer']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="areaLazer">
    Área de lazer
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="salaoFestas" name="salaoFestas" {% if comodidades and
    comodidades['salaoFestas']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="salaoFestas">
    Salão de festas
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="churrasqueira" name="churrasqueira" {% if comodidades
    and comodidades['churrasqueira']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="churrasqueira">
    Churrasqueira
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="portaria24h" name="portaria24h" {% if comodidades and
    comodidades['portaria24h']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="portaria24h">
    Portaria 24 horas
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="quadraEsportes" name="quadraEsportes" {% if
    comodidades and comodidades['quadraEsportes']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="quadraEsportes">
    Quadra de esportes
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="playground" name="playground" {% if comodidades and
    comodidades['playground']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="playground">
    Playground
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="jardim" name="jardim" {% if comodidades and
    comodidades['jardim']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="jardim">
    Jardim
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="salaJogos" name="salaJogos" {% if comodidades and
    comodidades['salaJogos']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="salaJogos">
    Sala de jogos
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="espacoGourmet" name="espacoGourmet" {% if comodidades
    and comodidades['espacoGourmet']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="espacoGourmet">
    Espaço gourmet
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="sauna" name="sauna" {% if comodidades and
    comodidades['sauna']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="sauna">
    Sauna
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="brinquedoteca" name="brinquedoteca" {% if comodidades
    and comodidades['brinquedoteca']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="brinquedoteca">
    Brinquedoteca
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="espacoCoworking" name="espacoCoworking" {% if
    comodidades and comodidades['espacoCoworking']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="espacoCoworking">
    Espaço coworking
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="petPlace" name="petPlace" {% if comodidades and
    comodidades['petPlace']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="petPlace">
    Pet place
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="bicicletario" name="bicicletario" {% if comodidades
    and comodidades['bicicletario']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="bicicletario">
    Bicicletário
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="lavanderia" name="lavanderia" {% if comodidades and
    comodidades['lavanderia']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="lavanderia">
    Lavanderia
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="geradorEnergia" name="geradorEnergia" {% if
    comodidades and comodidades['geradorEnergia']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="geradorEnergia">
    Gerador de energia
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sim" id="sistemaSeguranca" name="sistemaSeguranca" {% if
    comodidades and comodidades['sistemaSeguranca']=='Sim' %} checked {% endif %}>
  <label class="form-check-label" for="sistemaSeguranca">
    Sistema de segurança
  </label>
</div>