<div>
    <img id="logo_footer" src="/static/imagens/logo_branca.png" alt="">
</div>
<nav>
    <h2>Menu</h2>
    <ul>
        <li><a href="/">INICIO</a></li>
        <li><a href="#ancora_destaques">DESTAQUES</a></li>
        <li><a href="{{url_for('imoveis.form_filtro',classificado='locacao')}}">ALUGAR</a></li>
        <li><a href="{{url_for('imoveis.form_filtro',classificado='venda')}}">COMPRAR</a></li>
        <li> <a href="#ancora_contato">CONTATO</a></li>
        <li> <a href="{{url_for('imoveis.home')}}">ENTRAR</a></li>
    </ul>
</nav>
<div>
    <h2>Rede Sociais</h2>
    <nav class="footer_redes">
        <a href="https://www.instagram.com/imobiliariacontalcred/" target="_blank"><img
                src="/static/imagens/logotipo-do-instagram.png" alt="instagram"></a>
        <a href="https://www.instagram.com/imobiliariacontalcred/" target="_blank"><img
                src="/static/imagens/facebook.png" alt="instagram"></a>
    </nav>
    <h2>Contato</h2>
    <ul class="footer_contato">
        <li>
            <img src="/static/imagens/telefone.png" alt="contato">Contalcred (37) 3522-7660
        </li>
        <li>
            <img src="/static/imagens/whatsapp.png" alt="contato">Célio Mendes (37) 99925-5435
        </li>
        <li>
            <img src="/static/imagens/whatsapp.png" alt="contato">João Vitor (37) 99856-4880
        </li>
        <li>
            <img src="/static/imagens/o-email.png" alt="email">contato@contalcred.com
        </li>
    </ul>
</div>