<ul class="lista_destaque">
    {% for imovel in imoveis %}
    <li class="card_destaque">
        <img class="img_destaque" src="{{ url_for('static', filename='imagens/' ~ imovel.imagem1) }}" alt="">
        <div class="inf_card">
            <h3>{{imovel.tipo}}</h3>
            <p>{{imovel.bairro}}, {{imovel.cidade}}</p>
            <p>codigo: {{imovel.codigo}}</p>
                <ul class="inf_imoveis">
                    <li>
                        <span class="material-symbols-outlined">fullscreen</span>
                        <p>{{imovel.area}}</p>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">bed</span>
                        <p>{{imovel.quartos}} quartos</p>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">directions_car</span>
                        <p>{{imovel.vagas}} Vagas</p>
                    </li>
                </ul>
            <h3>R$ {{imovel.valor}}</h3>
        </div>
        <input type="button" value="Ver Mais Detalhes" class="btn_detalhes">
    </li>
    {% endfor %}
</ul>