<div class="div_contato">
    <div class="div_central">
        <div>
            <a href="https://www.instagram.com/imobiliariacontalcred/" target="_blank"><img
                    src="/static/imagens/logotipo-do-instagram.png" alt="instagram"></a>
            <a href="https://www.instagram.com/imobiliariacontalcred/" target="_blank"><img
                    src="/static/imagens/facebook.png" alt="instagram"></a>
        </div>
        <ul class="header_contato">
            <li>
                <img src="/static/imagens/telefone.png" alt="instagram">(37) 3522-7660
            </li>
            <li>
                <img src="/static/imagens/whatsapp.png" alt="instagram">(37) 99925-5435
            </li>
            <li>
                <img src="/static/imagens/whatsapp.png" alt="instagram">(37) 99856-4880
            </li>
        </ul>
    </div>
</div>

<div class="header_principal">
    <div class="main_header">
        <div class="container_header">
            <a href="{{url_for('home.home')}}"><img src="/static/imagens/logo.png" alt=""></a>
            <span id="icone_menu" class="material-symbols-outlined" onclick="abrirMenu()">menu</span>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="#ancora_destaques">DESTAQUES</a></li>
                <li><a href="{{url_for('imoveis.form_filtro',classificado='locacao')}}">ALUGAR</a></li>
                <li><a href="{{url_for('imoveis.form_filtro',classificado='venda')}}">COMPRAR</a></li>
                <li> <a href="#ancora_contato">CONTATO</a></li>
                <li> <a href="{{url_for('imoveis.home')}}">ENTRAR</a></li>
            </ul>
        </nav>
    </div>
</div>